@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    overflow-x: auto;
}

tr>th:first-child,
tr>td:first-child {
    position: sticky;
    left: 0;
}

tr:nth-child(odd) td {
    background: "white";
}

tr:nth-child(even) td {
    background: "gray-200";
}